body {
    font-family: "Dosis", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #444;
    color: #f1f1f1;
}

 #navbar {
    box-sizing: border-box;
    width: 25%;
    background-color: #333;
    padding: 20px;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(255, 255, 255, 0.1);
}

 #navbar ul {
    list-style-type: none;
    padding: 0;
}

 #navbar ul li {
    margin: 10px 0;
}

.nav-link {
    text-decoration: none;
    color: #f1f1f1;
    font-size: 16px;
}

.nav-link:hover {
    color: #00ffaa;
}

main {
    box-sizing: border-box;
    margin-left: 25%;
    padding: 20px;
    width: 75%;
    flex: 1;
}

.code-block {
    margin: 10px auto;
    background-color: #222;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 15px;
    overflow-x: auto;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

pre {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #f1f1f1;
}

code {
    color: #f1f1f1;
}

footer {
    font-style: italic;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
    text-align: right;
    font-weight: 100;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

#navbar {
        text-align: center;
        width: 100%;
        position: relative;
        box-shadow: none;
        margin-bottom: 20px;
        height: auto;
    }

    main {
        margin-left: 0;
        width: 100%;
        padding: 10px;
    }
}
